:root {
  --main-nav-theme-color: #e0e0e0;
  --main-theme-color: #ffffff;
  --main-theme-dark-color: #212121;
}

html, body {
  height: 100%;
  margin: 0;
}

.event > a:hover {
  text-decoration: none;
}

.my-card {
    position:relative;
    text-align: center;
    background-color: var(--main-theme-dark-color);
}

.card {
  background: transparent;
  border-width: medium;
  border-color: var(--main-theme-dark-color);
  color: var(--main-theme-dark-color);
}

.card:hover {
  transform: scale(1.05, 1.05);
}

.dark_text {
  color: var(--main-theme-dark-color);
}

.required:after { content:"*"; color: red}

.dropdown-item:active {
  background: var(--main-theme-dark-color);
}

.badgebox {
    opacity: 0;
}

.badgebox + .badge {
  text-indent: -999999px;
  width: 27px;
  background-color: var(--main-theme-color);
  color: black;
  border-style: solid;
  border-width: 2px;
}

.badgebox:checked + .badge {
  text-indent: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-img {
  height: 920px;
}

.nav-theme {
  background: var(--main-nav-theme-color);
}

.nav-theme-index {
  background: var(--main-nav-theme-color);
  opacity: 0.8;
}


.theme {
  background: var(--main-theme-color);
}

.theme-dark {
  background: var(--main-theme-dark-color);
  color: #FFFFFF;
}

.fa.fa-navicon {
  border-color:white;
}

.navbar {
    position:absolute;
    z-index:10;
    width:100%;
}

.responsive-urs {
  height: 100px;
  padding: 10px 0 10px 0;
}

.responsive-mec {
  height: 90px;
  padding: 10px 0 10px 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .carousel-img {
    height: 500px;
  }
  .carousel {
    padding-top: 100px;
  }
}

@media all and (max-width: 767px) {
  .contact {
    padding-top: 40px;
  }
  .div-Hidd {
    display: none;
  }
  .carousel-img {
    height: 200px;
  }

  .carousel {
    padding-top: 155px;
  }

  .responsive-urs {
    height: 80px;
  }

  .responsive-mec {
    height: 70px;
  }

  .left-right {
    float: none;
    margin: 0 auto;
  }
  .event {
    margin-top: 10px;
  }

  .event {
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav-theme-index {
    background-color: var(--main-nav-theme-color);
    opacity: 1.0;
  }
}

.navbar ul {
  color: white;
}

.btn:hover {
    color: var(--main-theme-dark-color);
    background: transparent;
    border-color: var(--main-theme-dark-color);
    border-width: 2px;
}

#anchor {
  padding-top: 50px;
}

#paper-template {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#navbar-custom {
  font-size: 1em;
  font-weight: 500;
}

.nav-item {
  margin-right: 2em;
  margin-left: 2em;
}

/* .nav-item > a {
  margin-right: 2em;
  margin-left: 2em;
} */

.nav-item:hover {
  text-decoration: underline;
}

#urs-navbar-text {
  font-size: 0.86em;
}
